* {
    background-color: black;
    margin: auto;
}

h1 {
    color: white;
    margin-top: 20px;
    text-align: center;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    border-color: white;
    width: 600px;
    height: 600px;
}

.container div {
    width: 40px;
    height: 40px;
}

.shooter {
    background-color: dimgray;
}

.invader {
    background-color: #8c52ff;
    border-radius: 20px;
}

.boom {
    background-color: #4f2e8f;
}

.laser {
    background-color: #e172bf;
}